<%{ './base.ejs' }%> <%{ content %>
<div class="container">
    <header class="header">
        <a href="/" class="back">Back</a>

        <h1 class="header__title"><%= title %></h1>
        <div class="header__tabs">
            <a href="#info" class="header__tab header__tab_active">Info</a>
            <a href="#questions" class="header__tab">Questions</a>
            <a href="#users" class="header__tab">Users</a>
        </div>
    </header>

    <div class="info" id="info">
        <% if (coverUrl) { %>
        <img src="<%= coverUrl %>" alt="" class="info__image" />
        <% } %>

        <div class="info__text">
            <div class="info__creator creator">
                Creator:
                <a
                    href="https://create.kahoot.it/profiles/<%= creator.id %> "
                    class="creator__username"
                    ><%= creator.username %>
                </a>
            </div>
            <div>Pin: <span id="pin"><%= pin %></span></div>
            <div>Challenge id: <%= challengeId %></div>
            <div>
                Url id:
                <span id="urlId"><%= challengeId %>_<%= startTime %></span>
            </div>
            <div>
                Created: <span class="format-date"><%= startTime %></span>
            </div>
            <div>Ending: <span class="format-date"><%= endTime %></span></div>
            <div>Randomize answers: <%= randomizeAnswers %></div>
        </div>
    </div>

    <div class="questions" id="questions">
        <% questions.forEach(question => { %>
        <div class="question">
            <div class="question__info">
                <% if (question.imageUrl) { %>
                <img
                    src="<%= question.imageUrl %> "
                    alt=""
                    class="question__banner"
                />
                <% } %>

                <div class="question__text"><%= question.question %></div>
                <div class="question__time"><%= question.time / 1000 %></div>
            </div>
            <div class="question__answers">
                <% question.answers.forEach(answer => { %>
                <div class="answer <%= answer.correct ? 'correct' : '' %>">
                    <% if (answer.imageUrl) { %>
                    <img
                        class="answer__image"
                        src="<%= answer.imageUrl %>"
                        alt=""
                    />
                    <% } %> <% if (answer.answer) { %> <%= answer.answer %> <% }
                    %>
                </div>

                <% }) %>
            </div>
        </div>
        <% }) %>
    </div>

    <div class="users" id="users">
        <div class="soon">Will be available soon</div>
        <!-- <thead>
            <tr>
                <th>Name</th>
                <th>Rank</th>
                <th>Correct answers</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ilya</td>
                <td>1</td>
                <td>24/24</td>
                <td>10000</td>
            </tr>
        </tbody> -->
    </div>
</div>
<%} %> <%{ css %>game<%} %> <%{ title %><%= pin %> <%} %> <%{ js %>game<%} %>
